/*
/*/

!/ranger/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
ranger/plugins/*

!/.gitignore
!/README.md

!/nvim/
nvim/plugged/*
!/nvim-old/

!/coc/
coc/extensions/*
coc/mru
!/zsh/
!/tmux/
!/alacritty/
!/neofetch/
!/lazygit/

