/*
/*/

!/ranger/
ranger/plugins/__pycache__/*
ranger/colorschemes/__pycache__/*
ranger/folders.conf
ranger/plugins/*

!/.gitignore

!/nvim/
nvim/plugged/*


!/coc/
coc/extensions/*
!/zsh/
!/tmux/
!/alacritty/
!/neofetch/

